<div>
    <h2 id="page-heading">
        <span>Tasas de Alcohol</span>
        <button *jhiHasAnyAuthority="'ROLE_MODIFY'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tasa-alcohol" [routerLink]="['/tasa-alcohol/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nuevo Tasa Alcohol
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tasaAlcohols?.length === 0">
        <span>No tasaAlcohols found</span>
    </div>
    <div class="table-responsive" *ngIf="tasaAlcohols?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tasa No Evidencial</span></th>
            <th><span>Tasa Evidencial 1</span></th>
            <th><span>Tasa Evidencial 2</span></th>
            <th><span>Tasa En Sangre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tasaAlcohol of tasaAlcohols ;trackBy: trackId">
                <td><a [routerLink]="['/tasa-alcohol', tasaAlcohol.id, 'view' ]">{{tasaAlcohol.id}}</a></td>
                <td>{{tasaAlcohol.tasaNoEvidencial}}</td>
                <td>{{tasaAlcohol.tasaEvidencial1}}</td>
                <td>{{tasaAlcohol.tasaEvidencial2}}</td>
                <td>{{tasaAlcohol.tasaEnSangre}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tasa-alcohol', tasaAlcohol.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_MODIFY'" type="submit"
                                [routerLink]="['/tasa-alcohol', tasaAlcohol.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_DELETE'" type="submit"
                                [routerLink]="['/tasa-alcohol', { outlets: { popup: tasaAlcohol.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
