<div>
    <h2 id="page-heading">
        <span>Atestados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atestado" [routerLink]="['/atestado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nuevo Atestado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="atestados?.length === 0">
        <span>No atestados found</span>
    </div>
    <div class="table-responsive" *ngIf="atestados?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th class="d-none"><span>ID</span></th>
            <th><span>Numero</span></th>
            <th class="d-none"><span>Tipojuicio</span></th>
            <th class="d-none"><span class="d-none">Fecha Atestado</span></th>
            <th><span>Fecha Hora Suceso</span></th>
            <th><span>Lugar</span></th>
            <th><span>Accidente</span></th>
            <th><span>Permiso</span></th>
            <th><span>Alcoholemia</span></th>
            <th><span>Bienes</span></th>
            <th><span>Velocidad</span></th>
            <th><span>Lesiones</span></th>
            <th><span>Fallecido</span></th>
            <th><span>Instructor</span></th>
            <th><span>Secretario</span></th>
            <th><span>Destinatario</span></th>
            <th><span>Remitente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atestado of atestados ;trackBy: trackId">
                <td class="d-none"><a [routerLink]="['/atestado', atestado.id, 'view' ]">{{atestado.id}}</a></td>
                <td>{{atestado.numero}}</td>
                <td class="d-none">{{atestado.tipojuicio}}</td>
                <td class="d-none">{{atestado.fechaAtestado | date:'mediumDate'}}</td>
                <td>{{atestado.fechaHoraSuceso | date:'medium'}}</td>
                <td>{{atestado.lugar}}</td>
                <td>{{atestado.accidente}}</td>
                <td>{{atestado.permiso}}</td>
                <td>{{atestado.alcoholemia}}</td>
                <td>{{atestado.bienes}}</td>
                <td>{{atestado.velocidad}}</td>
                <td>{{atestado.lesiones}}</td>
                <td>{{atestado.fallecido}}</td>
                <td>{{atestado.instructor}}</td>
                <td>{{atestado.secretario}}</td>
                <td>
                    <div *ngIf="atestado.destinatario">
                        <a [routerLink]="['/destinatario', atestado.destinatario?.id, 'view' ]" >{{atestado.destinatario?.nombreDestinatario}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atestado.remitente">
                        <a [routerLink]="['/remitente', atestado.remitente?.id, 'view' ]" >{{atestado.remitente?.nombreRemitente}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/atestado', atestado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_MODIFY'" type="submit"
                                [routerLink]="['/atestado', atestado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_DELETE'" type="submit"
                                [routerLink]="['/atestado', { outlets: { popup: atestado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                        <!-- nuevo document by id atestado -->
                        <button type="submit"
                                [routerLink]="['/documento/atestado', atestado.id]"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'archive'"></fa-icon>
                            <span class="d-none d-md-inline">Documentos</span>
                        </button>
                        <!-- /nuevo -->
                        <!-- nuevo implicados by id atestado -->
                        <button type="submit"
                                [routerLink]="['/implicado/atestado', atestado.id]"
                                class="btn btn-dark btn-sm">
                            <fa-icon [icon]="'users'"></fa-icon>
                            <span class="d-none d-md-inline">Implicados</span>
                        </button>
                        <!-- /nuevo -->
                        <!-- nuevo informe docx -->
                        <button type="submit"
                                [routerLink]="['/informeword', atestado.id]"
                                class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="'file-word'"></fa-icon>
                            <span class="d-none d-md-inline">Docx</span>
                        </button>
                        <!-- /nuevo -->
                        <!-- nuevo informe pdf -->
                        <button type="submit"
                                [routerLink]="['/informepdf', atestado.id]"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'file-pdf'"></fa-icon>
                            <span class="d-none d-md-inline">Pdf</span>
                        </button>
                        <!-- /nuevo -->

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
