<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="destinatario">
            <h2><span>Destinatario</span> {{destinatario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{destinatario.tipo}}</span>
                </dd>
                <dt><span>Nombre Destinatario</span></dt>
                <dd>
                    <span>{{destinatario.nombreDestinatario}}</span>
                </dd>
                <dt><span>Desc Destinatario</span></dt>
                <dd>
                    <span>{{destinatario.descDestinatario}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_MODIFY'" type="button"
                    [routerLink]="['/destinatario', destinatario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
