<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-destinatario-heading">Create or edit a Destinatario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                        <option value="AYUNTAMIENTO">AYUNTAMIENTO</option>
                        <option value="GUARDIA_CIVIL">GUARDIA_CIVIL</option>
                        <option value="JUZGADO">JUZGADO</option>
                        <option value="FISCALIA">FISCALIA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombreDestinatario">Nombre Destinatario</label>
                    <input type="text" class="form-control" name="nombreDestinatario" id="field_nombreDestinatario"
                           formControlName="nombreDestinatario"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descDestinatario">Desc Destinatario</label>
                    <input type="text" class="form-control" name="descDestinatario" id="field_descDestinatario"
                           formControlName="descDestinatario"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
