<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remitente">
            <h2><span>Remitente</span> {{remitente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{remitente.tipo}}</span>
                </dd>
                <dt><span>Nombre Remitente</span></dt>
                <dd>
                    <span>{{remitente.nombreRemitente}}</span>
                </dd>
                <dt><span>Desc Remitente</span></dt>
                <dd>
                    <span>{{remitente.descRemitente}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_MODIFY'" type="button"
                    [routerLink]="['/remitente', remitente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
